.layout {
    color: rgb(170, 170, 170);
    display: grid;
    grid-template-columns: 30% 70%;
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar,
.content {
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    height: 100%;
    width: 97%;
    margin: 0 5px;
}

.head-container {
    background-color: rgb(20, 20, 20);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 15px;
}

.side-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 18px;
}

.faplus {
    font-size: 23px;
}

.side-filters {
    margin: 0 10px;
}

.filter-buttons {
    background-color: rgb(46, 46, 46);
    border: unset;
    border-radius: 20px;
    color: white;
    height: 30px;
    margin: 0 5px;
    padding: 0 12px;
}

/*
Color close to original site:
background-color: rgb(54, 58, 121);
*/

.content-header {
    background-color: rgb(54, 58, 121);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 200px;
}
