#modal-content {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
}

.song-modal {
    height: 260px;
    width: 350px;
}

.modal-head {
    height: 60px;
}

.modal-head h2 {
    color: white;
    margin: unset;
    margin-top: 3px;
    margin-left: 7px;
}

.form-modal {
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-rows: 25% 25% 25% 25%;
}

.errors {
    height: 30px;
    color: red;
    margin: unset;
}

input {
    background-color: rgba(170, 170, 170, 0.477);
    border-radius: 8px;
    border: unset;
    height: 20px;
    margin: 5px;
    padding: 5px;
}

input::file-selector-button {
    background-color: rgb(46, 46, 46);
    border: unset;
    border-radius: 20px;
    color: white;
    height: 20px;
    margin: 0 5px;
    padding: 0 12px;
}
