body,
#root {
    background-color: black;
    font-family: "Roboto";
    margin: unset;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 100%;
}

h1 {
    color: white;
    font-size: 70px;
    margin: 20px;
}

#modal-content {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
}

.errors {
    color: red;
    margin: unset;
}

.white-text {
    color: white;
}


.filter-buttons {
    background-color: rgb(46, 46, 46);
    border: unset;
    border-radius: 20px;
    color: white;
    height: 30px;
    margin: 0 5px;
    padding: 0 12px;
}

.filter-button-selected {
    background-color: white;
    border: unset;
    border-radius: 20px;
    color: rgb(46, 46, 46);
    height: 30px;
    margin: 0 5px;
    padding: 0 12px;
}


.footer-holder {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    display: flex;
    justify-content: center;
    transition: .5s;
    /* width: 80%; */
}

.footer-holder:hover {
    background-color: rgb(38, 38, 38);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;

}


/* body {
    margin-bottom: 200px;
} */

.link-holder {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.link-decor {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.link-decor:hover {
    color: rgba(54, 58, 121, 0.521)
}
